body{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-spacing: 2px;
}
.card_info{
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: center;
}
.card{
    width:100%;
    height: auto;
}
.cards{
    float: left;
    box-shadow: 0 4px 8px 0 whitesmoke;
    transition: 0.3s;
    margin: 10% 20px;
    
}
.cards:hover {
    box-shadow: 0 8px 16px 0 whitesmoke;
  }
  button{
    height: 35px;
    width: 100px;
    color : black;
    border:none;
    border-radius: 5px;
    font-size: medium;
    font-weight:550;
    margin-bottom: 5px;
  }